/*
Variable Grid System.
Learn more ~ http://www.spry-soft.com/grids/
*/
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}

/* layout container for the grid */
.container, .wrapper{margin:0 auto;width:1080px;padding:0 10px;position:relative;*zoom:1;}

/* grid system */
.grid, .maincol, .sidecol{display:block;float:left;margin-right:20px;min-height:1px;}
.grid-1{width:30px;}
.grid-2{width:80px;}
.grid-3{width:130px;}
.grid-4{width:180px;}
.grid-5{width:230px;}
.grid-6{width:280px;}
.grid-7{width:330px;}
.grid-8{width:380px;}
.grid-9{width:430px;}
.grid-10{width:480px;}
.grid-11{width:530px;}
.grid-12{width:580px;}
.grid-13{width:630px;}
.grid-14{width:680px;}
.grid-15{width:730px;}
.grid-16{width:780px;}
.grid-17{width:830px;}
.grid-18{width:880px;}
.grid-19{width:930px;}
.grid-20{width:1080px;}


/*自定义css*/
.grid-20 .logo {
    float: left;
    width: auto;
    padding: 15px 0 0;
}

.grid-20 .logo a {
    display: block;
    height: 82px;
    text-indent: -9999px;
    width: 400px;
    background-position: 0 0;
    background: url(../images/logo.png) no-repeat;
}

.decl {
    float: left;
    width: 10px;
    text-indent: -9999px;
}
.dec{
     padding: 6px;
     color: seashell;
 }

.dec1{
    color: darkslateblue;
    font-weight:bold;
}

.dec2{
    padding: 4px;
    color: seashell;
}

.nav_logo {
    width: 29px;
    height: 30px;
    float: left;
    background-image: url("../images/nav_logo.gif");
    background-repeat: no-repeat;
    margin-left: 21px;
    margin-top: 12px;
}
.nav_list {
    height: 60px;
    float: left;
    text-align: left;
    padding-left: 20px;
    line-height: 60px;
}

.nav_list a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
    font-size: 16px;
    font-family: 微软雅黑;
}

.nav_bg {
    height: 60px;
    float: left;
    margin-top: 10px;
    font-size: 12px;
    background-color: #423e33;
}

.nav_service {
    width: 260px;
    height: 20px;
    float: left;
    text-align: left;
    margin-top: 22px;
    border-left: 1px #fff dashed;
    font-weight: bold;
    line-height: 20px;
    font-family: 微软雅黑;
    margin-left: 14px;
    color: #c4b49b;
}

.nav_service span {
    float: left;
}
.nav_phone {
    padding: 10px;
    margin: -2px 0px 0px 20px;
    background: url("../images/ico_tel.gif") no-repeat scroll -3px -3px transparent;
}

.nav_qq {
    padding: 10px;
    margin: -2px 0px 0px 20px;
    background: url("../images/00001.gif") no-repeat scroll -3px -3px transparent;
}

#left {
    float: left;
    margin-top: 10px;
    width: 720px;
}

#topic {
    float: left;
    width: 620px;
    height: 340px;
    overflow: hidden;
}

.scrollGuid {
    width: px;
    height: 340px;
}

#KSS_moveBox img, ul {
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: none;
}

#right {
    float: left;
    margin: 10px 0px 0px 10px;
    width: 343px;
    height: 338px;
    padding: 0px 0px 0px 5px;
    border: solid 1px #aaa;
    overflow: hidden;
}

.m_title {
    width: 330px;
    height: 50px;
    float: left;
    line-height: 60px;
}

.mt_logo {
    width: 27px;
    height: 27px;
    display: inline-block;
    float: left;
    margin: 17px;
    background-image: url("../images/zx.gif");
    background-repeat: no-repeat;
}

.mt_name, .mt_more {
    float: left;
    display: inline-block;
    font-size: 20px;
    color: gray;
    font-family: 微软雅黑;
    font-weight: bold;
    width: 120px;
    text-align: left;
}

.mt_name a {
    color: gray;
    text-decoration: none;
}

.mt_name img,.mt_name img ul {
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: none;
}

.vip_list {
    width: 350px;
    margin-top: 10px;
}


.vip_list ul {
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: none;
}

.vip_list li {
    height: 30px;
    line-height: 30px;
    width: 350px;
    font-size: 14px;
    color: #ff5b00;
    text-align: left;
    font-weight: bold;
    overflow: hidden;
}

.vip_list a {
    color: #ff5b00;
    text-decoration: none;
}

.news_title {
    width: 260px;
    overflow: hidden;
    float: left;
}

.news_time {
    width: 60px;
    float: right;
    font-size: 12px;
    color: gray;
    font-weight: normal;
}

.w_list {
    margin-top: 10px;
    border-top: 1px gray dotted;
    padding-top: 10px;
}

.w_list li {
    height: 25px;
    line-height: 25px;
    width: 350px;
    font-size: 14px;
    color: #666;
    text-align: left;
    overflow: hidden;
}

.w_list a {
    color: #666;
    text-decoration: none;
}
.w_container {
    margin-top: 10px;
}

.wt_pic {
    float: left;
    width: 300px;
    text-align: left;
    height: 45px;
}

.wt_pic img {
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: none;
}

.wu_list {
    float: left;
    width: 1078px;
    height: 345px;
    margin-top: 1px;
    border: solid 1px #dedfde;
    background-color: #eee;
}

.wu_item {
    float: left;
    width: 230px;
    margin: 10px 0px 0px 10px;
    display: inline;
    padding: 10px 13px 15px;
    background-color: white;
}

.wu_item_pic {
    float: left;
    margin-top: 10px;
}

.wu_item_pic img {
    width: 230px;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: none;
    height: 180px;
}

.item_nomal {
    float: left;
    margin: 10px 0px;
    width: 220px;
    height: 40px;
    line-height: 20px;
    _line-height: 20px;
    overflow: hidden;
    zoom: 1;
    border-bottom: dashed 1px #888;
    text-align: left;
}

.item_nomal a{
    text-decoration: none;
    color: #111;
    font-size: 16px;
    font-family: 微软雅黑;
}

.wu_item_list {
    float: left;
    width: 246px;
}

.wu_item_list ul {
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: none;
}

.wu_item_list li {
    height: 25px;
    line-height: 20px;
    width: 230px;
    overflow: hidden;
    text-align: left;
}

.wu_item_list li p {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.item_nomal span {
    text-decoration: none;
    color: deeppink;
    font-size: 16px;
    font-family: 微软雅黑;
    font-style: italic;
}

.item_nomal p {
    height: 14px;
    line-height: 14px;
}

.separator {
    width: 790px;
    height: 10px;
    line-height: 10px;
    background-color: #5a301e;
    margin-top: 10px;
    float: left;
}

#siteName {
    width: 265px;
    float: left;
    font-family: 微软雅黑;
    font-size: 16px;
    color: #e74921;
    margin-top: 3px;
    margin-left: 5px;
}

#bottom {
    width: 1080px;
    height: 60px;
    margin-top: 5px;
    float: left;
    padding-top: 10px;
    margin-right: -3px;
    font-size: 14px;
}

#bottom_l {
    float: left;
    font-size: 22px;
    font-family: 微软雅黑;
}

#bottom_r {
    float: right;
    margin-top: 10px;
    color: #313131;
    width: 530px;
    text-align: right;
    overflow: hidden;
}

a.dark_gray {
    color: #313131;
    text-decoration: none;
}

a.pink {
    text-decoration: none;
    color: red;
}

.content {
    padding: 20px;
}